
.wrapper {
    width: 1370px;
    margin: 0 auto;
}

.visit {
    box-shadow: 3px 3px 3px 0 tomato;
    display: flex;
    flex-wrap: wrap;

    &-title {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }
}